.magic-square-container {
    position: relative;
    display: inline-block;
}

.magic-square {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid transparent;
}

.cell.show-grid {
    border: 1px solid #000;
}

.magic-square-canvas {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.button-group {
    margin-top: 20px;
}

button {
    margin-right: 10px;
}
